In [ ]:
# Tools for Data Science

This notebook provides an overview of various tools commonly used in data science.

Below is an ordered list of popular programming languages used in Data Science:

1. Python  
2. R  
3. SQL  
4. Julia  
5. Scala

Below is an ordered list of popular libraries used in Data Science:

1. Pandas  
2. NumPy  
3. Matplotlib  
4. Scikit-learn  
5. TensorFlow  
6. Seaborn

Below is a table listing some commonly used Data Science tools:

| Tool Name        | Category            | Description                         |
|------------------|---------------------|-------------------------------------|
| Jupyter Notebook | IDE / Notebook      | Interactive environment for coding  |
| RStudio          | IDE                 | IDE for R programming               |
| Apache Spark     | Big Data Framework  | Handles large-scale data processing |
| TensorFlow       | ML Framework        | Used for deep learning              |
| Tableau          | Visualization Tool  | Used for creating dashboards        |

Below are some examples of simple arithmetic expressions using Python.

In [1]:
# Multiply and add integers
result = (5 * 4) + 2
print("The result of (5 * 4) + 2 is:", result)

The result of (5 * 4) + 2 is: 22

In [2]:
# Convert minutes to hours
minutes = 150
hours = minutes / 60
print("150 minutes is equal to", hours, "hours")

150 minutes is equal to 2.5 hours

### Objectives of this Notebook

- Understand basic data science concepts
- Learn to use JupyterLite Notebook
- Practice Markdown and Python coding
- Share notebooks via GitHub

**Author:** Nitika Sharma